<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <!-- Uncomment for logging to stdout-->
    <Console name="LogInJSON" target="SYSTEM_OUT">
      <JSONLayout compact="true" eventEol="true" properties="true" stacktraceAsString="true"/>
    </Console>
    <!-- uncomment to use file raw format-->
    <!--File name="FILE" fileName="/var/log/app_java/app.log">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %X{dd.trace_id} %X{dd.span_id} - %m%n"/>
    </File-->
  </Appenders>
  <Loggers>
    <!-- Uncomment for logging to stdout-->
    <Root level="INFO">
      <AppenderRef ref="LogInJSON" />
    </Root>
    <!-- Uncomment for logging to file-->
    <!--Root level="INFO">
      <AppenderRef ref="FILE"/>
    </Root-->
  </Loggers>
</Configuration>
