name: aptible

on:
  workflow_dispatch: {}

jobs:
  deploy:
    environment: datadog
    runs-on: ubuntu-latest
    steps:
#    - uses: actions/checkout@v4
#      with:
#        fetch-depth: 0
    - name: checkout main branch
      uses: actions/checkout@v4
      with:
        ref: main  
    - name: checkout feature branch
      uses: actions/checkout@v4
      with:
        ref: dev-app-java      
    - name: Deploy to Aptible
      uses: aptible/aptible-deploy-action@v4
      with:
        type: git
        app: app-java
        environment: datadog
        username: ${{ secrets.APTIBLE_USERNAME }}
        password: ${{ secrets.APTIBLE_PASSWORD }}
